<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://homecinema.local/tizen" version="0.3.1" viewmodes="maximized">
    <tizen:application id="HCINEMA001.HomeCinema" package="HCINEMA001" required_version="2.3"/>
    <content src="index.html"/>
    <name>Home Cinema</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable"
                   encryption="disable" install-location="auto" hwkey-event="enable" pointing-device-support="disable"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <access origin="*" subdomains="true"/>
</widget>
